<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214915070304-gs7bjib8ki9cfvfiq358cgo01t1hghr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214915070304-gs7bjib8ki9cfvfiq358cgo01t1hghr4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214915070304-tn5ckjr87udc7oe87dd953ll3ure12v5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQpbL9IaPU27gEdxcMpXJKYMz2kJfInYI</string>
	<key>GCM_SENDER_ID</key>
	<string>214915070304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GennieAI</string>
	<key>PROJECT_ID</key>
	<string>gennie-44c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>gennie-44c6e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214915070304:ios:6ce28ebb0d64e589d98605</string>
</dict>
</plist>